<!DOCTYPE html>
<html>
<head>
    <title>Crear Orden de Compra</title>
</head>
<body>
    <h1>Crear Orden de Compra</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <legend>Datos de la Orden</legend>
            {{ orden_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Detalle de la Orden</legend>
            {{ detalle_form.as_p }}
        </fieldset>
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'proveedores:ordenes' %}">Ir a Órdenes de Compra</a>
    <a href="{% url 'inicio' %}">Volver al inicio</a>

</body>
</html>